body
{
    background-color:  #E3DAC9;
}

.color {
    margin: 0;
    width: 1100px;
    height: 365px;
    padding: 70px 50px;
    background-size: cover;
    background-image: "C:\Users\Beverly\Downloads\images (3).jpg";
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.p3 {
    text-align: left;
    margin-top: 25px;
    margin-left: 605px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    margin-bottom: 2px;
}

.p3 b {
    font-family: Kanit, sans-serif;
    font-size: 25px;
    margin-bottom: 2px;
}

.p4 {
    text-align: left;
    margin-top: 0;
    margin-left: 605px;
    font-size: 65px;
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    margin-bottom: 0px;
}

.p5 {
    font: Raleway;
    font-size: 25px;
    color: black;
    margin-left: 605px;
    text-align: left;
}

.shopnow {
    align-items: center;
    display: flex;
    font: sans-serif;
    font-size: 16px;
    margin-left: 615px;
    
}	

.shopnow:before {
    color: black;
    text-decoration: none;
    content: "";
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.10,.10,.10,1);
    width: 0;
}

.shopnow:hover:before {
    background-color: white;
    width: 46px;
}

      .hr { 
        border: 1px solid;
        margin: 30px 0;
}

.container{
    width: 600px;
    height: 330px;
    position: relative;
    margin: 300px auto;
}

.container img{
    width: 600px;
    height: 300px;
}

.text{
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow:  0   0   10px  black;

.container{
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img{
   width: 650px;
   height: 430px;
}


.gradient-button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(to right, #b6aca8, #b89c8c);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.gradient-button:hover {
    background: linear-gradient(to right, #8f5e5f, #5c343b);
}

